* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  margin: 0 2rem;
}

h2 {
  color: #455A64;
  font-size: 3rem;
  margin-bottom: 1rem;
}

h4 {
  color: #607D8B;
  font-size: 2rem;
  text-decoration: underline #F2F4F4;
  padding-bottom: 1rem;
}

h2, h4 {
  border-bottom: 2px solid #CFD8DC;
  margin: 1rem;
  font-weight: 400;
}

article {
  display: block;
  margin: 2rem auto;
  border: 3px solid #607D8B;
  background-color: #ffffff;
  width: 95%;
  color: #455A64;



/*  content: '';
  display: table;
  clear: both;*/
}
/*.website-title{
  color: #455a64;
  margin: 1rem 1rem;
  border-bottom: 1px solid #cfd8dc;
}
.website-url{
  color: #607d8b;
  border-bottom: 1px solid #cfd8dc;
  margin: 1rem 1rem;
}*/
button{
  font-size: 1.2rem;
  font-weight: 800;

}
button:disabled{
  background-color: #ffd773;
  color: white;
}
section {
  padding-top: 30%;
  padding-bottom: 100%;
}
.read {
/*  padding: 1em;
*/  font-size: xx-small;
  float: left;
  margin: 1rem 1rem;
}
.delete {
/*  padding: 1em 1em .5em 1em;
*/  font-size: xx-small;
  float: right;
  margin: 1rem 1rem;
}

input {
  display: block;
  width: 90%;
  height: 3rem;
  margin: 2rem auto;
  font-size: 2rem;
  padding-left: .5rem;
}

button {
  color: white;
  display: block;
  height: 3rem;
  width: 90%;
  margin: 0 auto;
  background-color: #FFC107;
}

.wrapper {
  display: grid;
  grid-auto-columns: 1fr 1fr;
  /*height: 100vh;*/
}

.input-section {
  background-color: #455A64;
  color: #FFFFFF;
  grid-column: 1;
}

.bookmark-section {
  background-color: #CFD8DC;
  grid-column: 2;
  padding: 1em;
  overflow: scroll;
}

.icon {
  height: 7rem;
  width: 7rem;
  position: relative;
  top: 30px;
}

::placeholder {
  font-size: 2rem;
  padding-left: .3rem;
}

@media (max-width: 800px) {

  section {
    padding-top: 2rem;
    padding-bottom: 20rem;

  }

  .wrapper {
    display: block;
  }

  .input-section {
/*    grid-column: 1;
    grid-row: 1;*/
    position: fixed;
    height: 30rem;

  }

  .bookmark-section {
    height: 100rem;
/*    grid-column: 1;
    grid-row: 2;*/
  }
}