* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

h1 {
  font-size: 5rem;
  margin: 0 2rem 0 2rem;
  text-align: center;
}

h2 {
  color: #455A64;
  font-size: 3rem;
  margin-bottom: 1rem;
}

h4 {
  color: #607D8B;
  font-size: 2rem;
  padding-bottom: 1rem;
  text-decoration: underline #F2F4F4;
}

h2, 
h4 {
  border-bottom: 2px solid #CFD8DC;
  font-weight: 400;
  margin: 1rem 2rem;
}

h5 {
  font-size: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}

img {
  height: 7rem;
  position: relative;
  top: 30px;
  width: 7rem;
}

input {
  display: block;
  font-size: 2rem;
  height: 3.5rem;
  margin: 2rem auto;
  padding-left: .5rem;
  width: 90%;
}

article {
  background-color: #ffffff;
  border: 3px solid #607D8B;
  color: #455A64;
  display: block;
  height: 13rem;
  margin: 1rem auto 2rem auto;
  width: 95%;
}

.wrapper {
  display: grid;
  grid-auto-columns: 1fr 1fr;
}

.input-section {
  background-color: #455A64;
  color: #FFFFFF;
  grid-column: 1;
  height: 100vh;
  overflow: hidden;
}

.bookmark-section {
  background-color: #CFD8DC;
  grid-column: 2;
  height: 100vh;
  overflow-y: scroll;
  padding: 1em;
}

.clear-button, 
.enter-button {
  background-color: #FFC107;
  color: white;
  display: block;
  font-size: 1.2rem;
  font-weight: 800;
  height: 3rem;
  margin: 2rem auto 0 auto;
  width: 90%;
}

.clear-button:disabled,
.enter-button:disabled { 
  background-color: #ffd773;
}

.read-button {
  float: left;
  margin-left: 2rem;
}

.delete-button {
  float: right;
  margin-right: 2rem;
}

.read-button, 
.delete-button {
  border: 0;
  color: #455A64;
  display: block;
  font-size: 1rem;
}

.read {
  border-bottom: 2px solid red;
  color: red;
}

::placeholder {
  font-size: 2rem;
  padding-left: .3rem;
}

@media (max-width: 700px) {

  h1 {
    font-size: 2.8rem;
    margin: 0 1rem;
    padding-top: 1rem;
  }

  h5 {
    font-size: 1.2rem;
    margin-top: .5rem;
  }

  img {
    height: 3rem;
    position: relative;
    top: 10px;
    width: 3rem;
  }

  input {
    margin: 1rem auto;
  }

  .wrapper {
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr 1fr;
  }

  .input-section {
    grid-column: 1;
    grid-row: 1;
    height: 50vh;
    overflow: scroll;
  }

  .bookmark-section {
    grid-column: 1;
    grid-row: 2;
    height: 50vh;
  }
  .clear-button, 
  .enter-button {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
}

@media (max-width: 450px) {

  h1 {
    font-size: 2rem;
    padding-top: .5rem;
    margin-bottom: .5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: .8rem;
    margin-left: 0;
    margin-top: .5rem;
  }

  img {
    height: 2rem;
    top: 5px;
  }

  article {
    height: 11rem;
  }

  input {
    font-size: 1.5rem;
    height: 1.8rem;
  }

  .clear-button, 
  .enter-button {
    height: 1.8rem;
    font-size: 1rem;
  }

  ::placeholder {
    font-size: 1.5rem;
  }

}