* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: 800;

}

section {
  padding-top: 30%;
}

input {
  display: block;
  width: 90%;
  height: 3rem;
  margin: 2rem auto;
}

button {
  display: block;
  height: 3rem;
  width: 90%;
  margin: 0 auto;
  background-color: #FFC107;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  height: 100vh;
}

.input-section {
  background-color: #455A64;
  color: #FFFFFF;
  grid-column: 1;
}

.bookmark-section {
  background-color: #CFD8DC;
  grid-column: 2;
}

.icon {
  height: 7rem;
  width: 7rem;
  position: relative;
  top: 30px;


}